<template>
  <div class="container">
    <NuxtLayout name="error">
      <template #header>
        <h1>Page not found</h1>
      </template>

      <NuxtLink to="/">Go back</NuxtLink>

    </NuxtLayout>
  </div>
</template>

<style scoped>
.container {
  margin-top: 5rem;
  text-align: center;
}
</style>
