<template>
  <div>
    <Html :lang="dynamic > 50 ? 'en-GB' : 'en-US'">
      <Head>
        <Title>Restaurantly</Title>
        <Meta
          name="description"
          content="My page is cool" />
        <Link
          rel="preload"
          href="https://borhykert.hu/img/csakfa.png"
          as="image" />
      </Head>
    </Html>
    <div class="container">
      <h1>Welcome to Restaurantly</h1>
      <a href="/restaurants">Go to restaurants</a>
    </div>
  </div>
</template>

<style scoped>
.container {
  margin-top: 5rem;
  text-align: center;
}
</style>
