<template>
  <div class="add-container">
    <h1>Get the best restaurant ad</h1>
    <button class="btn btn-primary btn-large">Buy Now</button>
  </div>
</template>

<style scoped>
.add-container {
  margin: 10rem 0;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(103,103,231,0.3);
  padding: 3rem;
}
</style>
