<template>
  <div class="container">
    <slot name ="header" />
    <div>
      <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F2%2F2a%2FBundesstra%25C3%259Fe_234_number.svg%2F1200px-Bundesstra%25C3%259Fe_234_number.svg.png&imgrefurl=https%3A%2F%2Fwww.wikidata.org%2Fwiki%2FQ1006870&tbnid=ErDYgkTtajfl6M&vet=12ahUKEwjcpu667If4AhVbwAIHHWwpDiIQMygAegUIARCQAQ..i&docid=yXXV7C_cWOtqrM&w=1200&h=720&q=234&client=firefox-b-e&ved=2ahUKEwjcpu667If4AhVbwAIHHWwpDiIQMygAegUIARCQAQ" />
      <a href="/">Go back</a>
    </div>
  </div>
</template>

<style scoped>
.container {
  margin-top: 5rem;
  text-align: center;
}
</style>
